<!DOCTYPE html>
<html>
<title>BuyAndSell</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--for smooth scrolling<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script-->
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  -->



<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="main.css" rel="stylesheet" type="text/css">
<!--link href="https://dl.dropbox.com/s/7x8wfoglf8f2utt/dbms.css?dl=0" rel="stylesheet" type="text/css"-->

<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <a href="miniproj.html" class="w3-bar-item w3-button"><b>B&S</b> Buy&Sell</a>
    <!-- <a href="miniproj.html" class="w3-bar-item w3-button"><span class="glyphicon glyphicon-home"></span>home</a> -->
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#home" class="w3-bar-item w3-button" onclick="document.getElementById('id01').style.display='block'">Login</a> 
      <a href="#cities" class="w3-bar-item w3-button">Cities</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    
      </div>
  </div>
</div>


<!-- login modal form-->

<div id="id01" class="modal">
  <div id="form">
 <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal" >&times;</span>
   <div class="logo">
    <font style="font-family: Arial, Helvetica, sans-serif;" size="30" color="#494949">Log In </font>
   </div>
    <div class="form-group">
	<p class="formLabel">E-mail:</p>
	<input type="email" name="email" id="email" class="form-style  autocomplete="on"/>
    </div>
   <div class="form-group">
			<p class="formLabel">Password:</p>
			<input type="password" name="password" id="password" class="form-style" /></br>
			<div class="pw-view"><i class="fa fa-eye"></i></div> 
			<a href="#" ><small>Forgot Password ?</small></a></p>
   </div>
   <div class="form-item">
		<class="pull-left"><a href="#"><small>Register</small>
		<input type="submit" class="login pull-right" value="Log In">
		<div class="clear-fix"></div>
   

    <div class="container2" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      
    </div>

</div>
</div>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>




<!-- Header -->


<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">

  <img class="w3-image" src="http://funkyimg.com/i/2LDwL.jpg" alt="Architecture" width="1500" height="800">

  <div class="content">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>B&S</b></span> <span class="w3-xxlarge w3-text-black">Buy&Sell</span></h1>
  </div>
  <div >
    <p class="content2" >This website helps you to buy, sell or rent homes ranging from villas,
      flats or even just land. This includes all major citites of India.</p>
  </div>

</header>




<!--script> FOR form wrapper
$(document).ready(function(){
	var formInputs = $('input[type="email"],input[type="password"]');
	formInputs.focus(function() {
       $(this).parent().children('p.formLabel').addClass('formTop');
       $('div#formWrapper').addClass('darken-bg');
       $('div.logo').addClass('logo-active');
	});
	formInputs.focusout(function() {
		if ($.trim($(this).val()).length == 0){
		$(this).parent().children('p.formLabel').removeClass('formTop');
		}
		$('div#formWrapper').removeClass('darken-bg');
		$('div.logo').removeClass('logo-active');
	});
	$('p.formLabel').click(function(){
		 $(this).parent().children('.form-style').focus();
	});
});
</script-->




<!-- ......................................................................................-->
<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

  <!-- Project Section -->

  <div class="w3-container w3-padding-32" id="cities">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Cities</h3>
  </div>



  
  <div class="w3-row-padding">
       <div class="w3-col l3 m6 w3-margin-bottom">
	<div class="zoom">	
         <div class="w3-display-container">
	  <a href="agra.html">
	   <div class="w3-display-topleft w3-black w3-padding">Agra</div>
	    <img src="http://www.beyondskytour.com/backend/images/ContentPhoto/1DN7MwmS1310201616130410.jpg"class="w3-round-xxlarge" alt="House" style="width:90%" height="200">
	  </a>
	 </div> 
	</div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
     <div class="zoom">
      <div class="w3-display-container">
	<a href="bengaluru.html">
	 <div class="w3-display-topleft w3-black w3-padding">Bengaluru</div>
          <img src="http://www.kaveribus.com/images/portfolio/img-2.jpg"class="w3-round-xxlarge" alt="house" style="width:90%" height="200"></div>
	</a>
        
     </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
     <div class="zoom">
      <div class="w3-display-container">
	<a href="chennai.html">
	 <div class="w3-display-topleft w3-black w3-padding" >Chennai</div>
         <img src="https://i.pinimg.com/originals/64/ce/18/64ce18d884e9aa299c0eb139eaa6948a.jpg"class="w3-round-xxlarge" alt="House" style="width:90%" height="200">
	</a>       
      </div>
     </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
     <div class="zoom">
      <div class="w3-display-container">
	<a href="dehli.html">
	 <div class="w3-display-topleft w3-black w3-padding">Delhi</div>
        <img src="https://avatars.mds.yandex.net/get-pdb/69339/20cca525-5e4b-4da9-8479-4bc31420bed9/orig"class="w3-round-xxlarge" alt="House" style="width:90%" height="200">
	<a/>
      </div> 
     </div>
    </div>
  </div>
<br/></br> 

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
     <div class="zoom">
      <div class="w3-display-container">
	<a href="hyderabad.html">
         <div class="w3-display-topleft w3-black w3-padding">Hyderabad</div>
         <img src="http://www.peirceandleslie.com/images/jewels-deccan4.jpg"class="w3-round-xxlarge" alt="House" style="width:90%" height="200">
	</a>     
        </div>
     </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
     <div class="zoom">
      <div class="w3-display-container">
	<a href="kolkata.html">
         <div class="w3-display-topleft w3-black w3-padding">Kolkata</div>
         <img src="https://d1u4oo4rb13yy8.cloudfront.net/2f416445-ab23-492e-bd09-7e4719131ed0.jpg"class="w3-round-xxlarge" alt="House" style="width:90%" height="200">
	</a>      
       </div>
     </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
     <div class="zoom">
      <div class="w3-display-container">
	<a href="mumbai.html">
	 <div class="w3-display-topleft w3-black w3-padding">Mumbai</div>
         <img src="https://cdn.penzcentrum.hu/upload/cimlapimg/Z/zamok-20180221.jpg"class="w3-round-xxlarge" alt="House" style="width:90%" height="200">
	</a>      
      </div>
     </div>
    </div>
     <div class="w3-col l3 m6 w3-margin-bottom">
     <div class="zoom">
      <div class="w3-display-container">
	<a href="vishakapatnam.html">
         <div class="w3-display-topleft w3-black w3-padding">Vishakapatnam</div>
         <img src="https://hellovizag.in/wp-content/uploads/2018/01/Rk-Beach-1024x480.jpg"class="w3-round-xxlarge" alt="House" style="width:90%" height="200">
        </a>
      </div>     
     </div>
    </div>
</div>
  <!-- Contact Section -->
  <div class="w3-container w3-padding-32" id="contact">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
    <p>Lets get in touch and talk about your next project.</p>
    <form action="/action_page.php" target="_blank">
      <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
      <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
      <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
    </form>
 
  <!-- About Section 
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>This website helps you to buy, sell or rent homes ranging from villas,
      flats or even just land. This includes all major citites of India.
  </div>-->
</br>
</br>
</br>
<div class="w3-container w3-padding-32">
    <div class="w3-col l2 m6 w3-margin-bottom">
     &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <img src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/10518977_675052009346163_5609632153059216091_n.jpg?_nc_cat=105&oh=27664f9b6cfc1e57e33d2369000d1c26&oe=5C61D294" alt="Matharishwa" style="width:60%" height="150"> 
      <h3>&nbsp&nbsp&nbsp&nbsp Matharishwa </h3>
    <div class="a"> <p class="w3-opacity">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp (CEO & Founder)</p></div>
     <!--<p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
    </div>


    <div class="w3-col l2 m6 w3-margin-bottom" >
      <img  src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/34445930_1305275942908542_3663001229631422464_n.jpg?_nc_cat=101&oh=fe863cb9c8bb758c057b8bb9eecaea39&oe=5C1DAA9B" alt="Ajay umakanth" style="width:60%" height="150">
       <h3>Ajay umakanth </h3>
      <div class="a"><p class="w3-opacity">&nbsp&nbsp&nbsp (CEO & Founder)</p></div>
    <!--  <p><button class="w3-button w3-light-grey w3-block">Contact</button></p> -->
    </div>

<p>




</div>
</div>
</body>
</html>
